<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("partials/header")%>
    <main>
      <section class="padding listItem-hero dashboard-hero">
        <div class="container grid grid-template-col-4 gap">
          <% podcast.forEach(element => { %>
          <div class="font-0">
            <video width="320" height="240" controls>
              <source src="/videos/<%= element.file %>" type="video/mp4" />
              <source src="/videos/<%= element.file %>" type="video/mov" />
              <source src="/videos/<%= element.file %>" type="video/mkv" />
              <source src="/videos/<%= element.file %>" type="video/webm" />
            </video>
          </div>
          <% }) %>
        </div>
      </section>
    </main>
  </body>
</html>
